/* #home .row {
    height: 80vh;
} */

#home h1 {
    font-size: 56px;
    font-family: lora;
    color: #183D4A;
    font-weight: 600;
}

#home {
    line-height: 50px;
}

#home ul li {
    color: #183D4A;
    font-size: 24px;
    font-weight: 200;
}

.highlight {
    font-weight: 600;
    color: #0c3b49;
}

.radiology-support {
    background-color: #00c8d4;
    color: #000;
    padding: 2rem 1rem;
}

.radiology-support h5 {
    font-weight: bold;
    font-family: lora;
    font-size: 22px;
    margin-bottom: 1rem;
}

.list-icon {
    color: #f9a825;
    margin-right: 0.5rem;
}

.list-group-item {
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 0.25rem 0;
    font-family: Montserrat;
}

.arrow-icon {
    width: 50px;
    height: auto;
    vertical-align: middle;
}


.procedure-table-section {
    margin-top: -50px;
}

.table-heading {
    font-size: 42px;
    font-weight: 100;
    color: #003341;
    font-family: lora;
}

.custom-table {
    border: 1px solid #ccc;
    width: 100%;
}

.custom-table th {
    background-color: #183D4A;
    color: white;
    font-size: 18px;
    width: 40%;
    vertical-align: middle;
    font-family: lora;
    font-weight: 300;
}

.custom-table td {
    background-color: #ECD8B6;
    font-size: 18px;
    color: #183D4A;
    vertical-align: middle;
    font-family: lora;
}

.custom-table thead tr th {
    font-size: 28px;
    font-weight: 400;
    color: #000;
    background-color: #00c8d4;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 0.75rem;
}


.download-section {
    padding: 3rem 1rem;
    background-color: #fff;
}

.download-title {
    font-size: 32px;
    font-family: Lora;
    color: black;
}

.arrow-container {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
}

.star {
    width: 100%;
}

.curved-arrow {
    position: absolute;
    left: -70px;
    top: -25px;
    width: 50px;
}

.download-btn {
    background-color: #13C2CF;
    color: #fff;
    padding: 0.6rem 1.2rem;
    font-family: lora;
    font-weight: 200;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-btn:hover {
    background-color: #ECD8B6;
}

.list-unstyled{
    line-height: 40px;
}

@media (max-width:1024px) {
    #home h1 {
        font-size: 40px;
    }

    #home .row {
        padding-top: 6%;
    }

    #home ul li {
        font-size: 18px;
    }

    #home {
        line-height: 50px;
    }



    .table-heading {
        font-size: 42px;
    }

    .custom-table td {
        font-size: 18px;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 100%;
    }

    .download-title {
        font-size: 32px;
    }

    .radiology-support {
        background-color: #00c8d4;
        color: #000;
        padding: 2rem 1rem;
    }

    .radiology-support h2 {
        font-weight: bold;
        font-family: lora;
        font-size: 24px;
        margin-bottom: 1rem;
    }

    .list-unstyled {
        line-height: 40px;
    }

    .list-icon {
        color: #f9a825;
        margin-right: 0.5rem;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        font-size: 14px;
        padding: 0.25rem 0;
        font-family: Montserrat;
    }

}

@media (max-width:996px) {
    #home h1 {
        font-size: 56px;
    }

    #home .row {
        padding-top: 13%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }



    .table-heading {
        font-size: 37px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 18px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 100%;
    }

    .download-title {
        font-size: 32px;
    }

    .custom-table thead tr th {
        font-size: 22px;
    }

    .radiology-support {
        background-color: #00c8d4;
        color: #000;
        padding: 2rem 1rem;
    }

    .radiology-support h2 {
        font-weight: bold;
        font-family: lora;
        font-size: 22px;
        margin-bottom: 1rem;
    }

    .list-unstyled {
        line-height: 34px;
    }

    .list-icon {
        color: #f9a825;
        margin-right: 0.5rem;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        font-size: 14px;
        padding: 0.25rem 0;
        font-family: Montserrat;
    }

}

@media (max-width:746px) {
    .star {
        width: 52%;
    }

    .radiology-support {
        background-color: #00c8d4;
        color: #000;
        padding: 2rem 1rem;
    }

    .radiology-support h2 {
        font-weight: bold;
        font-family: lora;
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .list-unstyled {
        line-height: 40px;
    }

    .list-icon {
        color: #f9a825;
        margin-right: 0.5rem;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        font-size: 16px;
        padding: 0.25rem 0;
        font-family: Montserrat;
    }
}


@media (max-width:600px) {
    #home h1 {
        font-size: 56px;
    }

    #home .row {
        padding-top: 13%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }


    .table-heading {
        font-size: 42px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 18px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 80%;
    }

    .download-title {
        font-size: 32px;
    }

    .radiology-support {
        background-color: #00c8d4;
        color: #000;
        padding: 2rem 1rem;
    }

    .radiology-support h2 {
        font-weight: bold;
        font-family: lora;
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .list-unstyled {
        line-height: 40px;
    }

    .list-icon {
        color: #f9a825;
        margin-right: 0.5rem;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        font-size: 16px;
        padding: 0.25rem 0;
        font-family: Montserrat;
    }
}

@media (max-width:480px) {
    #home h1 {
        font-size: 42px;
    }

    #home .row {
        padding-top: 22%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }



    .table-heading {
        font-size: 20px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 16px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 16px;
    }

    .star {
        width: 50%;
    }

    .download-title {
        font-size: 27px;
    }

    .custom-table thead tr th {
        font-size: 22px;
    }

    .radiology-support {
        background-color: #00c8d4;
        color: #000;
        padding: 2rem 1rem;
    }

    .radiology-support h2 {
        font-weight: bold;
        font-family: lora;
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .list-unstyled {
        line-height: 40px;
    }

    .list-icon {
        color: #f9a825;
        margin-right: 0.5rem;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        font-size: 16px;
        padding: 0.25rem 0;
        font-family: Montserrat;
    }

        .ps-5{
        padding-left: 10px !important;
    }
}

@media (max-width:380px) {
    #home h1 {
        font-size: 27px;
    }

    #home .row {
        margin-top: 9%;
    }

    #home ul li {
        font-size: 16px;
    }


    #home {
        line-height: 42px;
    }



    .table-heading {
        font-size: 20px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 13px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 14px;
    }

    .star {
        width: 46%;
    }

    .download-title {
        font-size: 25px;
    }

    .custom-table thead tr th {
        font-size: 20px;
    }

    .radiology-support {
        background-color: #00c8d4;
        color: #000;
        padding: 2rem 1rem;
    }

    .radiology-support h2 {
        font-weight: bold;
        font-family: lora;
        font-size: 21px;
        margin-bottom: 1rem;
    }

    .list-unstyled {
        text-align: justify;
        line-height: 28px;
    }

    .list-icon {
        color: #f9a825;
        margin-right: 0.5rem;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        font-size: 12px;
        padding: 0.25rem 0;
        font-family: Montserrat;
    }
    .ps-5{
        padding-left: 10px !important;
    }
}

@media (max-width:280px) {
    #home h1 {
        font-size: 18px;
    }

    #home .row {
        margin-top: 15%;
    }

    #home ul li {
        font-size: 11px;
    }

    #home {
        line-height: 34px;
    }

    .table-heading {
        font-size: 19px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 11px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 15px;
    }

    .star {
        width: 37%;
    }

    .download-title {
        font-size: 17px;
    }

    .ps-5 {
        padding-left: 10px !important;
    }


    .radiology-support {
        background-color: #00c8d4;
        color: #000;
        padding: 2rem 1rem;
    }

    .radiology-support h2 {
        font-weight: bold;
        font-family: lora;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .list-unstyled {
        text-align: justify;
        line-height: 30px;
    }

    .list-icon {
        color: #f9a825;
        margin-right: 0.5rem;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        font-size: 12px;
        padding: 0.25rem 0;
        font-family: Montserrat;
    }

}