#home h1 {
    font-size: 72px;
    font-family: lora;
    color: #183D4A;
    font-weight: 600;
}

#home {
    line-height: 50px;
}

#home ul li {
    color: #183D4A;
    font-size: 24px;
    font-weight: 200;
}


.arrow-icon {
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.intro-text,
.intro-subtext {
    font-size: 36px;
    font-weight: bold;
    color: #183D4A;
    font-family: lora;
}


.procedure-table-section {
    margin-top: -50px;
}

.table-heading {
    font-size: 42px;
    font-weight: 100;
    color: #003341;
    font-family: lora;
}

.custom-table {
    border: 1px solid #ccc;
    width: 100%;
}

.custom-table th {
    background-color: #13C2CF;
    color: white;
    font-size: 22px;
    vertical-align: middle;
    font-family: lora;
    font-weight: bold;
    color: #183D4A;
}

.custom-table td {
    background-color: #ECD8B6;
    font-size: 18px;
    color: #183D4A;
    vertical-align: middle;
    font-family: lora;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 0.75rem;
}


.download-section {
    padding: 3rem 1rem;
    background-color: #fff;
}

.download-title {
    font-size: 32px;
    font-family: Lora;
    color: black;
}

.arrow-container {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
}

.star {
    width: 100%;
}


.pediatric-section {
    background-color: #F9F7F2;
    padding: 60px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1f4e53;
}

.pediatric-section h2 {
    color: #183D4A;
    font-weight: 700;
    font-size: 37px;
    font-family: lora;
}

.pediatric-section h5 {
    font-style: italic;
    color: #2A646E;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-family: lora;
}

.pediatric-section ul {
    padding-left: 0;
}

.pediatric-section ul li {
    margin-bottom: 1.2rem;
    list-style-type: disc;
}



.pediatric-section li span {
    font-family: lora;
    font-size: 22px;
    line-height: 1.6;
}

.pediatric-section .star-icon {
    width: 50px;
}

.pediatric-section strong {
    font-size: 28px;
    font-family: Montserrat;
}

.curved-arrow {
    position: absolute;
    left: -70px;
    top: -25px;
    width: 50px;
}

.download-btn {
    background-color: #13C2CF;
    color: #fff;
    padding: 0.6rem 1.2rem;
    font-family: lora;
    font-weight: 200;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-btn:hover {
    background-color: #ECD8B6;
}

#icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: #00c2cb;
    flex-shrink: 0;
    align-self: flex-start;
    /* Align icon with the top of the text */
}

#ul {
    list-style: none;
    padding: 0;
}

#li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

#li span {
    color: #183D4A;
    font-family: lora;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
}

.tips-section {
    padding: 0px 20px;
}

.tips-section h3 {
    font-weight: 700;
    color: #183D4A;
    margin-bottom: 30px;
    font-size: 42px;
    font-family: lora;
    text-align: center;
}

.tips-section ol {
    padding-left: 24px;
    font-family: Montserrat;
}

.tips-section ol li {
    margin-bottom: 1rem;
    font-size: 20px;
    color: #2A646E;
    line-height: 1.6;
    font-weight: 300;
}

.rounded-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    float: right;
}

@media (max-width: 768px) {
    .rounded-image {
        display: block;
        margin: 20px auto;
        float: none;
    }
}


@media (max-width:1024px) {
    #home h1 {
        font-size: 50px;
    }

    #home .row {
        padding-top: 11%;
    }

    #home ul li {
        font-size: 21px;
    }

    #home {
        line-height: 50px;
    }

    .intro-text,
    .intro-subtext {
        font-size: 26px;
        color: #183D4A;
        font-family: lora;
    }

    .table-heading {
        font-size: 42px;
    }

    .custom-table td {
        font-size: 18px;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 100%;
    }

    .download-title {
        font-size: 32px;
    }



    .pediatric-section {
        background-color: #F9F7F2;
        padding: 20px 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 37px;
        font-family: lora;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
        font-family: lora;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        list-style-type: disc;
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 22px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        font-size: 28px;
        font-family: Montserrat;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
        /* Align icon with the top of the text */
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
    }


    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 42px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 20px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }
}

@media (max-width:996px) {
    #home h1 {
        font-size: 47px;
    }

    #home .row {
        padding-top: 13%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }

    .intro-text,
    .intro-subtext {
        font-size: 20px;
        color: #183D4A;
        font-family: lora;
    }

    .table-heading {
        font-size: 37px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 18px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 100%;
    }

    .download-title {
        font-size: 32px;
    }


    .pediatric-section {
        background-color: #F9F7F2;
        padding: 60px 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 30px;
        font-family: lora;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 23px;
        font-family: lora;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        list-style-type: disc;
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 20px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        font-size: 22px;
        font-family: Montserrat;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
        /* Align icon with the top of the text */
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
    }


    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 32px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 15px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }
}

@media (max-width:768px) {

    #home h1 {
        font-size: 37px;
    }

    #home .row {
        padding-top: 13%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }

    .star {
        width: 52%;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
        /* Align icon with the top of the text */
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 22px;
        line-height: normal;
    }

    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 42px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 20px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }
}


@media (max-width:600px) {
    #home h1 {
        font-size: 56px;
    }

    #home .row {
        padding-top: 13%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }


    .intro-text,
    .intro-subtext {
        font-size: 28px;
        color: #183D4A;
        font-family: lora;
    }

    .table-heading {
        font-size: 42px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 18px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 80%;
    }

    .download-title {
        font-size: 32px;
    }

    .pediatric-section {
        background-color: #F9F7F2;
        padding: 0px 20px;
        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 30px;
        font-family: lora;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 19px;
        font-family: lora;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        list-style-type: disc;
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 18px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        font-size: 20px;
        font-family: Montserrat;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
    }

    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 42px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 20px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }
}

@media (max-width:480px) {
    #home h1 {
        font-size: 34px;
    }

    #home .row {
        padding-top: 22%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }

    .intro-text,
    .intro-subtext {
        font-size: 16px;
        color: #183D4A;
        font-family: lora;
    }

    .table-heading {
        font-size: 20px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 12px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 15px;
    }

    .star {
        width: 50%;
    }

    .download-title {
        font-size: 27px;
    }

    .pediatric-section {
        background-color: #F9F7F2;
        padding: 0px 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 25px;
        font-family: lora;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 19px;
        font-family: lora;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        list-style-type: disc;
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 15px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        font-size: 20px;
        font-family: Montserrat;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
        /* Align icon with the top of the text */
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
    }


    .tips-section {
        padding: 11px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 26px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 15px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }

    .ps-3 {
        padding-left: 0 !important;
    }

    .ps-5 {
        padding-left: 30px !important;
    }
}

@media (max-width:380px) {
    #home h1 {
        font-size: 28px;
    }

    #home .row {
        margin-top: 0%;
    }

    #home ul li {
        font-size: 16px;
    }


    #home {
        line-height: 42px;
    }

    .intro-text,
    .intro-subtext {
        font-size: 14px;
        color: #183D4A;
        font-family: lora;
    }

    .table-heading {
        font-size: 20px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 11px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 11px;
    }

    .star {
        width: 46%;
    }

    .download-title {
        font-size: 25px;
    }

    .pediatric-section {
        background-color: #F9F7F2;
        padding: 0px 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 21px;
        font-family: lora;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 14px;
        font-family: lora;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        list-style-type: disc;
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 15px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        font-size: 15px;
        font-family: Montserrat;
    }


    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
        /* Align icon with the top of the text */
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 19px;
        line-height: 25px;
    }

    .tips-section {
        padding: 18px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 18px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 12px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }

    .ps-3 {
        padding-left: 0 !important;
    }
}

@media (max-width:280px) {
    .ps-3 {
        padding-left: 0 !important;
    }

    #home h1 {
        font-size: 78px;
    }

    #home .row {
        margin-top: 20%;
    }

    #home ul li {
        font-size: 24px;
    }

    #home {
        line-height: 50px;
    }

    .intro-text,
    .intro-subtext {
        font-size: 28px;
        color: #183D4A;
        font-family: lora;
    }

    .table-heading {
        font-size: 42px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 18px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 80%;
    }

    .download-title {
        font-size: 32px;
    }

    .pediatric-section {
        background-color: #F9F7F2;
        padding: 60px 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 37px;
        font-family: lora;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
        font-family: lora;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        list-style-type: disc;
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 22px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        font-size: 28px;
        font-family: Montserrat;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
    }

    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 42px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 20px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }
}