#home h1 {
    font-size: 60px;
    font-family: lora;
    color: #183D4A;
    font-weight: 600;
}

#home {
    line-height: 50px;
    margin-top: 3%;
}

#home ul li {
    color: #183D4A;
    font-size: 18px;
    list-style: none;
    font-weight: 100;
}


.my-circles {
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom, #00eaff, #003b49);
}

.small {
    width: 20px;
    height: 20px;
    top: 9px;
    left: 10%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.medium {
    width: 30px;
    height: 30px;
    top: 38px;
    left: 12%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.large {
    width: 40px;
    height: 40px;
    top: 78px;
    left: 15%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

.content-text {
    background-color: #00eaff;
    border-radius: 0px 70px 70px 70px;
    font-family: lora;
    width: 90%;
    line-height: 40px;
    padding-left: 6%;
}

.content-text p {
    font-family: Montserrat;
    font-size: 22px;
}

.tooth-icon {
    color: #00eaff;
    margin-right: 10px;
}

.section-title {
    font-weight: bold;
    font-family: lora;
}

ul li {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 100;

}

.sub-heading {
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
    font-family: lora;

}

.list-unstyled {
    line-height: 40px;
}

.content-box {
    padding: 20px;
    padding-left: 11%;
}

.checkup-list {
    font-size: 22px;
    line-height: 50px;
    font-family: lora;
    padding-left: 3rem;
}

.header {
    font-size: 32px;
    font-family: lora;
    font-style: italic;
}

.icon-line {
    display: flex;
    align-items: flex-start;
    margin-top: 0.3rem;
    margin-left: 1.5rem;
}

.tooth-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

/* Star image styling */
.star-image {
    position: absolute;
    right: 10%;
    top: 35px;
    width: 80px;
    height: auto;
}


.call-banner-wrapper {
    width: fit-content;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
    box-shadow: -6px -6px 0px rgb(236, 216, 182);
}

.call-banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #003f4f;
    z-index: 1;
    border-radius: 4px;
}

.call-banner-content {
    position: relative;
    z-index: 2;
    color: rgb(236, 216, 182);
    font-size: 36px;
    font-style: italic;
    font-family: 'lora', serif;
}

@media (max-width:1144px) {

    #home h1 {
        font-size: 72px;
        font-family: lora;
        color: #183D4A;
        font-weight: 600;
    }

    #home {
        line-height: 50px;
        margin-top: 4%;
    }

    #home ul li {
        color: #183D4A;
        font-size: 24px;
        font-weight: 200;
    }

    .small {
        width: 20px;
        height: 20px;
        top: 9px;
        left: 10%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }

    .medium {
        width: 30px;
        height: 30px;
        top: 38px;
        left: 12%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    }

    .large {
        width: 40px;
        height: 40px;
        top: 78px;
        left: 15%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    }

    .list-unstyled {
        line-height: 40px;
    }

    .list-unstyled li {
        font-size: 12px;
    }

    .content-box {
        padding: 20px;
        padding-left: 7%;
    }

    .section-title {
        font-size: 12px;
    }

    .content-text {
        background-color: #00eaff;
        border-radius: 0px 70px 70px 70px;
        font-family: lora;
        width: 90%;
        line-height: 40px;
        padding-left: 11%;
    }

    .quote-text {
        font-size: 42px;
    }

    .content-text p {
        font-family: Montserrat;
        font-size: 22px;
    }



    .checkup-list {
        font-size: 22px;
        line-height: 50px;
        font-family: lora;
        padding-left: 3rem;
    }

    .header {
        font-size: 32px;
        font-family: lora;
        font-style: italic;
    }

    .icon-line {
        display: flex;
        align-items: flex-start;
        margin-top: 0.3rem;
        margin-left: 1.5rem;
    }

    .tooth-icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    .call-banner-content {

        font-size: 36px;
        font-style: italic;
        font-family: 'lora', serif;
    }

}

@media (max-width:1024px) {
    #home h1 {
        font-size: 43px;
        font-family: lora;
        color: #183D4A;
        font-weight: 600;
    }

    #home {
        line-height: 50px;
        margin-top: 4%;
    }

    #home ul li {
        color: #183D4A;
        font-size: 16px;
        font-weight: 200;
        line-height: 40px;
    }

    .small {
        width: 20px;
        height: 20px;
        top: 9px;
        left: 10%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }

    .medium {
        width: 30px;
        height: 30px;
        top: 38px;
        left: 12%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    }

    .large {
        width: 40px;
        height: 40px;
        top: 78px;
        left: 15%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    }

    .list-unstyled {
        line-height: 40px;
    }

    .content-box {
        padding: 20px;
        padding-left: 11%;
    }

    .list-unstyled li {
        font-size: 18px;
    }

    .section-title {
        font-size: 24px;
    }

    .content-text {
        background-color: #00eaff;
        border-radius: 0px 70px 70px 70px;
        font-family: lora;
        width: 90%;
        line-height: 40px;
        padding-left: 5%;
    }

    .quote-text {
        font-size: 30px;
    }

    .content-text p {
        font-family: Montserrat;
        font-size: 20px;
    }


    .checkup-list {
        font-size: 22px;
        line-height: 50px;
        font-family: lora;
        padding-left: 3rem;
    }

    .header {
        font-size: 32px;
        font-family: lora;
        font-style: italic;
    }

    .icon-line {
        display: flex;
        align-items: flex-start;
        margin-top: 0.3rem;
        margin-left: 1.5rem;
    }

    .tooth-icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    .call-banner-content {

        font-size: 26px;
        font-style: italic;
        font-family: 'lora', serif;
    }

}

@media (max-width:992px) {
    #home h1 {
        font-size: 29px;
        font-family: lora;
        color: #183D4A;
        font-weight: 600;
    }

    #home {
        line-height: 41px;
        margin-top: 11%;
    }

    #home ul li {
        color: #183D4A;
        font-size: 14px;
        font-weight: 200;
        line-height: 35px;
    }

    .small {
        width: 20px;
        height: 20px;
        top: 9px;
        left: 10%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }

    .medium {
        width: 30px;
        height: 30px;
        top: 38px;
        left: 12%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    }

    .large {
        width: 40px;
        height: 40px;
        top: 78px;
        left: 15%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    }

    .list-unstyled {
        line-height: 40px;
    }

    .content-box {
        padding: 20px;
        padding-left: 11%;
    }

    .list-unstyled li {
        font-size: 17px;
    }

    .section-title {
        font-size: 24px;
    }

    .content-text {
        background-color: #00eaff;
        border-radius: 0px 60px 60px 60px;
        font-family: lora;
        width: 90%;
        line-height: 40px;
        padding-left: 7%;
    }

    .quote-text {
        font-size: 21px;
    }

    .content-text p {
        font-family: Montserrat;
        font-size: 12px;
    }


    .checkup-list {
        font-size: 18px;
        line-height: 50px;
        font-family: lora;
        padding-left: 3rem;
    }

    .header {
        font-size: 28px;
        font-family: lora;
        font-style: italic;
    }

    .icon-line {
        display: flex;
        align-items: flex-start;
        margin-top: 0.3rem;
        margin-left: 0.5rem;
    }

    .tooth-icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }




    .call-banner-content {

        font-size: 19px;
        font-style: italic;
        font-family: 'lora', serif;
    }

}

@media (max-width:600px) {
    #home h1 {
        font-size: 41px;
        font-family: lora;
        color: #183D4A;
        font-weight: 600;
    }

    #home {
        line-height: 46px;
        margin-top: 17%;
    }

    #home ul li {
        color: #183D4A;
        font-size: 16px;
        font-weight: 200;
    }

    .small {
        width: 10px;
        height: 10px;
        top: 63px;
        left: 1%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }

    .medium {
        width: 20px;
        height: 20px;
        top: 88px;
        left: 4%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    }

    .large {
        width: 30px;
        height: 30px;
        top: 116px;
        left: 7%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    }

    .list-unstyled {
        line-height: 40px;
    }

    .content-box {
        padding: 0px;
        padding-left: 9%;
    }

    .list-unstyled li {
        font-size: 14px;
    }

    .section-title {
        font-size: 12px;
    }

    .section-title {
        font-size: 12px;
    }

    .content-text {
        background-color: #00eaff;
        border-radius: 0px 54px 54px 54px;
        font-family: lora;
        width: 90%;
        line-height: 40px;
        padding-left: 11%;
    }

    .fs-5 li {
        font-size: 15px;
    }

    .quote-text {
        font-size: 42px;
    }

    .content-text p {
        font-family: Montserrat;
        font-size: 22px;
    }


    .checkup-list {
        font-size: 22px;
        line-height: 50px;
        font-family: lora;
        padding-left: 3rem;
    }

    .header {
        font-size: 32px;
        font-family: lora;
        font-style: italic;
    }

    .icon-line {
        display: flex;
        align-items: flex-start;
        margin-top: 0.3rem;
        margin-left: 1.5rem;
    }

    .tooth-icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    .call-banner-content {

        font-size: 36px;
        font-style: italic;
        font-family: 'lora', serif;
    }

}

@media (max-width:480px) {
    #home h1 {
        font-size: 31px;
        font-family: lora;
        color: #183D4A;
        font-weight: 600;
    }

    #home {
        line-height: 43px;
        margin-top: 21%;
    }

    #home ul li {
        color: #183D4A;
        font-size: 12px;
        font-weight: 200;
    }

    .small {
        width: 11px;
        height: 11px;
        top: 55px;
        left: -2%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }

    .medium {
        width: 19px;
        height: 16px;
        top: 74px;
        left: 1%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    }

    .large {
        width: 25px;
        height: 27px;
        top: 97px;
        left: 5%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    }

    .ps-5 {
        padding-left: 1px !important;
    }

    .ps-3 {
        padding-left: 24px !important;
    }

    .list-unstyled {
        line-height: 34px;
    }

    .content-box {
        padding: 0px;
        padding-left: 7%;
    }

    .list-unstyled li {
        font-size: 13px;
    }

    .section-title {
        font-size: 12px;
    }

    .section-title {
        font-size: 17px;
    }

    .circle-div .pt-5 {

        padding-top: 27px !important;

    }

    .content-text {
        background-color: #00eaff;
        border-radius: 0px 45px 45px 45px;
        font-family: lora;
        width: 90%;
        line-height: 40px;
        padding-left: 11%;
    }

    .fs-5 li {
        font-size: 11px;
    }

    .quote-text {
        font-size: 42px;
    }

    .content-text p {
        font-family: Montserrat;
        font-size: 17px;
    }



    .checkup-list {
        font-size: 16px;
        line-height: 40px;
        font-family: lora;
        padding-left: 3rem;
    }

    .header {
        font-size: 25px;
        font-family: lora;
        font-style: italic;
    }

    .icon-line {
        display: flex;
        align-items: flex-start;
        margin-top: 0.3rem;
        margin-left: 0.5rem;
    }

    .tooth-icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    .call-banner-content {

        font-size: 13px;
        font-style: italic;
        font-family: 'lora', serif;
    }

}

@media (max-width:380px) {
    #home h1 {
        font-size: 25px;
        font-family: lora;
        color: #183D4A;
        font-weight: 600;
    }

    #home {
        line-height: 36px;
        margin-top: 26%;
    }

    #home ul li {
        color: #183D4A;
        font-size: 14px;
        font-weight: 200;
    }

    .small {
        width: 10px;
        height: 10px;
        top: 55px;
        left: -1%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }

    .medium {
        width: 20px;
        height: 20px;
        top: 71px;
        left: 3%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    }

    .large {
        width: 30px;
        height: 30px;
        top: 98px;
        left: 9%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    }

    .ps-5 {
        padding-left: 23px !important;
    }

    .ps-3 {
        padding-left: 1px !important;
    }

    .list-unstyled {
        line-height: 32px;
    }

    .content-box {
        padding: 0px;
        padding-left: 7%;
    }

    .list-unstyled li {
        font-size: 12px;
    }

    .section-title {
        font-size: 12px;
    }

    .circle-div .pt-5 {

        padding-top: 30px !important;

        padding-left: 20px;

    }

    .content-text {
        background-color: #00eaff;
        border-radius: 0px 30px 30px 30px;
        font-family: lora;
        width: 90%;
        line-height: 40px;
        padding-left: 11%;
    }

    .quote-text {
        font-size: 14px;
    }

    .content-text p {
        font-family: Montserrat;
        font-size: 13px;
    }

    .checkup-list {
        padding-top: 22px;
        font-size: 18px;
        line-height: 45px;
        font-family: lora;
        padding-left: 3rem;
    }

    .header {
        font-size: 21px;
        font-family: lora;
        font-style: italic;
    }

    .icon-line {
        display: flex;
        align-items: flex-start;
        margin-top: 0.3rem;
        margin-left: -0.5rem;
    }

    .tooth-icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    .call-banner-bg {

        left: 13px;
        width: 95%;
    }

    .call-banner-content {

        font-size: 12px;
        font-style: italic;
        font-family: 'lora', serif;
    }

}

@media (max-width:270px) {
    #home h1 {
        font-size: 72px;
        font-family: lora;
        color: #183D4A;
        font-weight: 600;
    }

    #home {
        line-height: 50px;
        margin-top: 4%;
    }

    #home ul li {
        color: #183D4A;
        font-size: 24px;
        font-weight: 200;
    }

    .small {
        width: 20px;
        height: 20px;
        top: 9px;
        left: 10%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }

    .medium {
        width: 30px;
        height: 30px;
        top: 38px;
        left: 12%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    }

    .large {
        width: 40px;
        height: 40px;
        top: 78px;
        left: 15%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    }

    .ps-5 {
        padding-left: 1px !important;
    }

    .ps-3 {
        padding-left: 1px !important;
    }

    .list-unstyled {
        line-height: 40px;
    }

    .content-box {
        padding: 20px;
        padding-left: 7%;
    }

    .list-unstyled li {
        font-size: 12px;
    }

    .section-title {
        font-size: 12px;
    }

    .content-text {
        background-color: #00eaff;
        border-radius: 0px 70px 70px 70px;
        font-family: lora;
        width: 90%;
        line-height: 40px;
        padding-left: 11%;
    }

    .content-text p {
        font-family: Montserrat;
        font-size: 22px;
    }

    .quote-text {
        font-size: 42px;
    }

    .checkup-list {
        font-size: 22px;
        line-height: 50px;
        font-family: lora;
        padding-left: 3rem;
    }

    .header {
        font-size: 32px;
        font-family: lora;
        font-style: italic;
    }

    .icon-line {
        display: flex;
        align-items: flex-start;
        margin-top: 0.3rem;
        margin-left: 1.5rem;
    }

    .tooth-icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }



    .call-banner-content {

        font-size: 36px;
        font-style: italic;
        font-family: 'lora', serif;
    }


}